@font-face 
{
    font-family: 'PixelOperator';
    src: url('../assets/Fonts/PixelOperatorSC-Bold.ttf') format('truetype');
}

.container 
{
    border-radius: 5px; 
    padding: 20px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    text-align: center;
    width: 80%;
    background-color: #fcbf49;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    padding: 20px;
}
.username-block
{

}

.username-text
{
    padding-left: 20px;
    text-align: left;
    margin: auto;
    color:#d62828;
    font-family: 'PixelOperator', sans-serif;
    font-size: large;
}


.password-block
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password-text
{
    padding-left: 20px;
    color:#d62828;
    font-family: 'PixelOperator', sans-serif;
    font-size: large;
}

.forgot-password
{
    padding-right: 20px;
    text-align: right;
    color:#d62828;
    font-family: 'PixelOperator', sans-serif;
    font-size: large;
}

.forgot-password a 
{
    color:#003049;
}

.sign-up-page
{
    font-size: large;
    color:#d62828;
    font-family: 'PixelOperator', sans-serif;
}

.sign-up-page a 
{
    color:#003049;
}

input[type="text"],
input[type="password"],
input[type="submit"] 
{
    font-family: 'PixelOperator', sans-serif;
    width: calc(100% - 40px);
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
}

input[type="submit"] 
{
    margin-top: 20px;
    width: 70%;
    background-color: #ec814e;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 22px;
    padding: 18px 0;
    text-decoration: none;
}

input[type="submit"]:hover 
{
    background-color: #d62828;
    text-decoration: none;
}
