body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background: url("./Images/Roundrl-bg2.jpg");
  /*background-size: cover;*/
}

#board{
  width: 550px;
  height: 550px;

  margin-left: 50%;  
  margin-top: 0%;
  display: flex;
  flex-wrap: wrap;

  background: url("./Images/brick-bg.png");
  background-size: cover;
  /* below kinda unneeded */
  background-repeat: no-repeat;
  border: 3px solid green;
  border-radius: 25px;
}

#board div {
  width: 110px;
  height: 110px;
  background-image: url("./Images/better-ball.png");
  background-size: cover;
}

#board div img{
  /* all img tags in side the div */
  width: 110px;
  height: 110px;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

