.main-container
{
  padding: 5%;
}

.community-container {
  display:flex;
  flex-direction:column;
  align-items:center;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 4 images per row */
  gap: 10px; /* Adjust the gap between images */
}

.post {
  outline: 2px solid transparent; 
  transition: outline-color 0.3s ease; 
  background-color: #fcbf49;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.post:hover {
  outline-color: #d62828; 
}

.post-title {
  font-size:large;
  color:#d62828;
  display: flex;
  margin-right: auto;
}

.post-body {
  display: flex;
  color:#d62828;
  margin-right: auto;

}

.post img {
  max-width: 100%;
  height: auto;
}

.text-post-container {
  margin-top: 10px;
  width: 100%;
}