
/* Styles for the Community Container */
.community-container 
{
  margin-top: 50px;
  position: relative;
  display: flex;
  align-items: center; /* Center align items horizontally */
}

/* Styles for the Images Container */
.images-container 
{
  background-color: red;
  gap: 10px; /* Adjust the gap between images */
  text-align: center;
}

/* Styles for Individual Image Box */
.image-box 
{
  background-color: #fcbf49;
  width: 100%; /* Adjusted width based on grid columns and gap */
  height: 100%; /* Make the image box take full height */
  outline: 2px solid transparent;
  transition: outline-color 0.3s ease;
}

.image-box:hover
{
  outline-color: #d62828;
}

.image-box img
{
  padding: 5px;
  max-width: 100%;
  max-height: 20vh;
  object-fit:cover;
  overflow: hidden;
}