@font-face {
  font-family: 'PixelOperatorBold';
  src: url('../assets/Fonts/PixelOperator8-Bold.ttf') format('truetype');
}

.main-container {
  height: 100%;
  width: 100%;
}

.about-section {
  padding: 20px;
  margin: auto;
  margin-top: 20px;
}

.about-section-title {
  color: #d62828;
  font-family: 'PixelOperatorBold', sans-serif;
  font-size: xx-large;
}

.about-section-body {
  margin-top: 35px;
  font-family: 'PixelOperator', sans-serif;
  font-size: x-large;
}

.button-container {
  margin: auto;
  justify-content: space-between;
  display: flex;
  margin-top: 40px;
  width: 60%;
}

.button-container a {
  text-decoration: none;
  width: 50%;
  padding: 30px;
  padding-top: 0px;
}

.free-draw-button {

  color: #d62828;
  cursor: pointer;

  padding: 20px;
  border-radius: 5px;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  font-family: 'PixelOperator', sans-serif;
  font-size: x-large;

  outline: 2px solid transparent;
  background-color: #fcbf49;
  outline-color: #fa9f25;
  transition: background-color 0.3s ease, outline-color 0.3s ease;
}

.free-draw-button:hover {
  color: black;
  outline-color: #6b2c39;
  background-color: #d62828;
}

.img-slider-container {
  margin: auto;
  width: 90%;
  height: 40vh;

  display: flex;  /* Keeps flexbox for layout */
  align-items: center;

  margin-top: 50px;
  margin-bottom: 50px;

  gap: 75px;


}

#displayTemplate
{
  /* Size of board */
  width: 100%;
  height: 100%;

  /* Grid for the inner element  B-C resizable*/
  display: grid;
  /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/
  /* same is assumed for columns */

  /* code effecting the boarder */
  border: 10px solid #000000;
  /* maybe use below, ask team*/
  /*border-radius: 25px;*/
}