/* Affects the Wholistic Screen, font for website, alignment, backround, backround size */
body{
  padding-top: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: #eae2b7;
  padding-left: 25px;
  padding-right: 25px;
}

/* effects the font of top text */
h1 {
  font-size: xx-large;
  -webkit-text-stroke: 1px black;
}

/* Effect the container which holds palette and board*/
#holder{

  /* everything is flex, justified to center*/
  display: flex;
  justify-content: center;
  padding-bottom: 2em;

}

/* Effects the board div */
#board{
  /* Size of board */
  width: 500px;
  height: 500px;

  /* effect the boards margins */
  /* spreads it out from the palette*/
  margin: 0px 0px 0px 100px;
  
  /* Grid for the inner element  B-C resizable*/
  display: grid;
  /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/
  /* same is assumed for columns */

  /* code effecting the boarder */
  border: 10px solid #000000;
  /* maybe use below, ask team*/
  /*border-radius: 25px;*/
}