@font-face {
  font-family: 'PixelOperatorBold';
  src: url('../assets/Fonts/PixelOperator8-Bold.ttf') format('truetype');
}
/* Affects the Wholistic Screen, font for website, alignment, backround, backround size */
body{
  padding-top: 100px;
  font-family: 'PixelOperatorBold', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: #eae2b7;
  padding-left: 25px;
  padding-right: 25px;
}

/* effects the font of top text */
h1 {
  font-size: xx-large;
  -webkit-text-stroke: 1px black;
  font-family: 'PixelOperatorBold', Tahoma, Geneva, Verdana, sans-serif;
}

/* Effect the container which holds palette and board*/
#holder{
  /* everything is flex, justified to center*/
  display: flex;
  justify-content: center;
  padding-bottom: 2em;

}

/* Effects the board div */
#board{
  /* Size of board */
  /*width: 500px;
  height: 500px;*/

  /* effect the boards margins */
  /* spreads it out from the palette*/
  margin: 0px 0px 0px 100px;
  
  /* Grid for the inner element  B-C resizable*/
  display: grid;
  /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/
  /* same is assumed for columns */

  /* code effecting the boarder */
  border: 10px solid #000000;
  /* maybe use below, ask team*/
  /*border-radius: 25px;*/
}

.settings-container
{
  margin-left: 5%;


}

.arrow-button-container
{

  margin: auto;
  justify-content: space-between;
  display: flex;
  margin-top: 20px;
  width: 80%;
}

/* For better buttons */
.better-button {

  width: 45%;
  height: 50px;

  transition: background-color 0.3s ease, outline-color 0.3s ease;
  outline: 2px solid transparent;
  background-color: #fcbf49;
  outline-color: #fa9f25;
  color: #d62828;

  font-family: 'PixelOperatorBold', Courier, monospace;
  font-size: 16px;

  border: none;
  border-radius: 4px;

  cursor: pointer; /* Cursor indicates clickable item */
}

.better-button:hover {

  color: black;
  outline-color: #6b2c39;
  background-color: #d62828;

  transform: scale(1.05);
  /* Enhanced box shadow on hover */
  box-shadow: 0px 9px 9px rgba(0, 0, 0, .5); 
}

/* the dive that is modal class */
.modal {
  position: fixed; /* Ensures modal is positioned relative to the viewport */
  top: 50%; /* Centers the modal vertically */
  left: 50%; /* Centers the modal horizontally */
  transform: translate(-50%, -50%); /* Centers the modal precisely */
  z-index: 100001; /* Set a high z-index value to ensure the modal appears above other elements */
  /* 10001 gets it above navbar */
  font-family: 'PixelOperatorBold', Tahoma, Geneva, Verdana, sans-serif;
}

.submit-button
{

  width: 80%;
  height: 50px;

  margin-bottom: 20px;

  transition: background-color 0.3s ease, outline-color 0.3s ease;
  outline: 2px solid transparent;
  background-color: #fcbf49;
  outline-color: #fa9f25;
  color: #d62828;

  font-family: 'PixelOperatorBold', Courier, monospace;
  font-size: 16px;

  border: none;
  border-radius: 4px;

  cursor: pointer; /* Cursor indicates clickable item */
}

.submit-button:hover {

  color: black;
  outline-color: #6b2c39;
  background-color: #d62828;

  transform: scale(1.05);
  /* Enhanced box shadow on hover */
  box-shadow: 0px 9px 9px rgba(0, 0, 0, .5); 
}

.boardSettings
{
  margin-left: auto;
  margin-bottom: 20px;
}