.header {
    background:#fcbf49;
    height: 100px;
    display: flex;
}

.logo {
    width: 125px;
    height: 100px;
}

.NavBar {
    justify-content: right;
}

 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    font-weight: 525;
    font-size:larger;
    display: block;
    color: #EC814E;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

 li a:hover {
    color: #d62828;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

nav-item-active {
    color: blue;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}