/* Affects the Wholistic Screen,
font for website, alignment, backround,
backround size */
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background: url("./Images/Sam-Bg-4.png");
  background-size: cover;
}

/* effects the color of text */
h1 {
  color: lightgray;
}
/* effects paintbrush text */
h2 {
  color: yellow;
}

#holder{
  display: flex;
  justify-content: center;
}

#board{
  width: 500px;
  height: 500px;

  margin: 0px 0px 0px 100px;
  
  display: flex;
  flex-wrap: wrap;

  background: url("./Images/Sam-Bg-1.png");
  background-size: cover;
  border: 10px solid blueviolet;
}

#board div {
  width: 100px;
  height: 100px;
  background-color: blue;
  background-size: cover;
}
/*background-image: url("./Images/Colors/Blank.png");*/
#palette{
  width: 200px;
  height: 500px;

  display: flex;
  flex-wrap: wrap;

  background: url("./Images/PS-bg-6.jfif");
  background-size: cover;
  /* below kinda unneeded */
  background-repeat: no-repeat;
  border: 10px solid green;
  border-radius: 25px;
}

button {
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    width: 100px;
}

#p100{
  background-color: #ff0000;
}
#p101{
  background-color: #ff9900;
}
#p102{
  background-color: #ffff00;
}
#p103{
  background-color: #99ff33;
}
#p104{
  background-color: #33cc33
}
#p105{
  background-color: #33ccff;
}
#p106{
  background-color: #0000ff;
}
#p107{
  background-color: #6600cc;
}
#p108{
  background-color: #cc00ff;
}
#p109{
  background-color: #ffffff;
}

.selected {
  border-color: black;
  border-style: solid;
  border-width: 10px;
}