/* IMPORTANT makes orginal list disapear */
.key-button-list {
  list-style: none;
  /* makes it column wise cause those are cool */
  display: flex;
  flex-direction: column;
} 

.key-button {
  width: 10vh;
  height: auto;
  border-radius: 50%;
  border: none; /* Removes button border  for pretty*/
  font-size: 24px;
}

